<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.mapper.CartMapper">

    <resultMap id="cartMap" type="cart">
        <result property="openId" column="openid"/>
        <collection property="orderItem" javaType="java.util.List" resultMap="orderItems"/>
    </resultMap>

    <resultMap id="orderItems" type="orderItem">
        <result column="cart_num" property="orderNum"/>
        <association resultMap="goodsMap" property="goods" javaType="com.stan.pojo.Goods" column="goods_id"/>
    </resultMap>

    <resultMap id="goodsMap" type="goods">
        <result property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsSmallLogo" column="goods_small_logo"/>
    </resultMap>
    <insert id="updateCart">
        insert into tbl_cart(openid, goods_id, cart_num)
        values (#{openId}, #{goodsId}, #{cartNum})
        on DUPLICATE key UPDATE
        <if test="goodsId != null">goods_id=#{goodsId},</if>
        <if test="cartNum != null">cart_num=#{cartNum}</if>
    </insert>

    <delete id="delItem">
        delete from tbl_cart
        <where>
            openid=#{openId}
            <if test="goodsId != null">and goods_id=#{goodsId}</if>
        </where>
    </delete>

    <select id="selectByOpenId" resultMap="cartMap">
        SELECT openid,
               cart_num,
               goods_id,
               goods_name,
               goods_price,
               goods_small_logo
        FROM tbl_cart
                 NATURAL JOIN tbl_goods
        WHERE openid = #{openId}
    </select>

</mapper>