<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.mapper.GoodsMapper">

    <resultMap id="goodsMap" type="goods">
        <result property="goodsName" column="goods_name"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsNum" column="goods_number"/>
        <result property="goodsIntroduce" column="goods_introduce"/>
        <result property="goodsBigLogo" column="goods_big_logo"/>
        <result property="goodsSmallLogo" column="goods_small_logo"/>
        <collection property="pics" javaType="java.util.List" resultMap="picsMap"/>
    </resultMap>

    <resultMap id="picsMap" type="pics">
        <id property="picsId" column="pics_id"/>
        <result property="big" column="pics_big"/>
        <result property="mid" column="pics_mid"/>
        <result property="small" column="pics_sma"/>
    </resultMap>

    <select id="selectById" resultMap="goodsMap">
        select cat_id,
               goods_name,
               goods_price,
               goods_number,
               goods_introduce,
               goods_big_logo,
               goods_small_logo,
               pics_id,
               pics_big,
               pics_mid,
               pics_sma
        from tbl_goods
                 NATURAL JOIN tbl_pics
        WHERE goods_id = #{id}
    </select>

    <resultMap id="goodsListMap" type="goods">
        <id column="goods_id" property="goodsId"/>
        <id column="goods_name" property="goodsName"/>
        <id column="goods_number" property="goodsNum"/>
        <id column="goods_small_logo" property="goodsSmallLogo"/>
        <id column="goods_price" property="goodsPrice"/>
    </resultMap>

    <select id="selectByCatId" resultMap="goodsListMap">
        select goods_id, goods_name, goods_number, goods_small_logo, goods_price
        from tbl_goods
        where cat_id = #{catId};
    </select>


</mapper>