<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stan.mapper.OrderMapper">

    <resultMap id="orderMap" type="order">
        <id property="orderId" column="order_id"/>
        <result property="orderPrice" column="order_price"/>
        <result property="orderDate" column="order_date"/>
        <collection property="orderItem" javaType="java.util.List" resultMap="orderItems"/>
    </resultMap>

    <resultMap id="orderItems" type="orderItem">
        <id column="tb_order_id"/>
        <id column="tb_goods_id"/>
        <result column="order_num" property="orderNum"/>
        <association resultMap="goodsMap" property="goods" javaType="com.stan.pojo.Goods"/>
    </resultMap>

    <resultMap id="goodsMap" type="goods">
        <id property="goodsId" column="tb_goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="goodsSmallLogo" column="goods_small_logo"/>
    </resultMap>

    <select id="selectOrder" resultMap="orderMap">
        SELECT order_id,
               order_price,
               order_date,
               order_num,
               tbl_order_goods.order_id tb_order_id,
               tbl_order_goods.goods_id tb_goods_id,
               goods_id,
               goods_name,
               goods_price,
               goods_small_logo
        FROM tbl_order
                 NATURAL JOIN tbl_order_goods
                 NATURAL JOIN tbl_goods
        WHERE order_id = #{orderId}
    </select>

</mapper>